@font-face {
  font-family: "Arame";
  src: url("fonnts.com-Arame-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: "Figtree", sans-serif;
}

/* page 1 (Get Started Page) */

.p1-body,
.p2-body {
  padding: 30px !important;
}

.p1 {
  background-image: url(assets/main-background2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  min-height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dynex-label {
  width: 200px;
  height: 200px;
  background-image: url(assets/dynexpng.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: -24px;
}

.img-placeholder {
  margin: 0 auto;
  margin-top: -68px;
  max-width: 233px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url("assets/Drone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.text-shadow {
  font-weight: 600;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #111222;
}

.sub-text {
  font-weight: 600;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #111222;
  max-width: 14rem;
}

.paragraph {
  font-weight: 400;
  font-size: 15.5px;
  color: #111222;
  max-width: 14rem;
  text-align: center;
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: 50px;
  background-image: url("./get-started-btn.svg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 15.5px;
  transition: opacity 0.2s ease;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.get-started:hover {
  opacity: 0.8;
}

.arame-font {
  font-family: "Arame", sans-serif;
  color: #585875;
  font-size: 13px !important;
  margin: 1.5rem;
}

.form-res-screen {
  padding-bottom: 3rem !important;
}

.code-reveal {
  padding-top: 50px;
}
/* page 2 */

.gradient {
  background-image: url(assets/page2-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  min-height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dynex-llm-title {
  font-size: 28px;
  font-weight: 600;
  color: #111222;
}

.p2-paragraph {
  font-size: 15.5px;
}

.scrollable-form {
  overflow-y: auto;
  max-height: 620px;
}

.scrollable-form::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollable-form::-webkit-scrollbar-track,
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-form::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: #5738df;
  border-radius: 10px;
}

.scrollable-form::-webkit-scrollbar-thumb:hover,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background: #4a2b9e;
}

.scrollable-form::-webkit-scrollbar-button,
.CodeMirror-vscrollbar::-webkit-scrollbar-button {
  display: none;
}

.required-field::after {
  content: "*";
  color: red;
  margin-left: 0.25rem;
}

.rule-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rule-item input {
  flex: 1;
}

.rule-item button {
  display: inline-flex;
}

#rules-list .rule-item:first-child button {
  display: none;
}

.sub-titles {
  font-size: 15px;
  font-weight: 600;
}

.hint-paragraph {
  font-size: 14px;
  color: #767693;
}

.toggle-input {
  display: none;
}

.toggle-label {
  cursor: pointer;
  width: 2.75rem;
  height: 1.5rem;
  background: rgb(218, 218, 218);
  border-radius: 9999px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease;
}

.slider {
  background: white;
  position: absolute;
  top: 0.145rem;
  left: 0.18rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 9999px;
  transition: left 0.5s ease;
}

.toggle-input:checked + .toggle-label {
  background: #5738df;
}

.toggle-input:checked + .toggle-label .slider {
  left: 1.38rem;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.4rem;
  position: relative;
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid rgb(214, 214, 214);
  background-color: white;
  flex-shrink: 0;
}

input[type="checkbox"]:checked {
  background-color: #5738df;
  border-color: #5738df;
}

input[type="checkbox"]:checked::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}

/* .get-code {
  width: 100%;
  background-color: #5738df;
  font-weight: 500;
  font-size: 15.5px;
  color: #ffffff;
  padding: 1.1rem 2.5rem 1.1rem 2.5rem;
  clip-path: polygon(0 0, 89% 0%, 100% 45%, 100% 100%, 0 100%, 0% 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
} */

.get-code {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 50%;
  height: 60px;
  background-image: url("./Execute-code-btn.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 500;
  font-size: 15.5px;
  transition: opacity 0.2s ease;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.get-code:hover {
  opacity: 0.8;
}

/* page3 */

.get-code1 {
  width: 100%;
  background-color: #5738df;
  font-weight: 500;
  font-size: 15.5px;
  color: #ffffff;
  padding: 1.1rem 2.5rem 1.1rem 2.5rem;
  clip-path: polygon(0 0, 82% 0%, 100% 45%, 100% 100%, 0 100%, 0% 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.get-code1:hover {
  background-color: #3e289c;
}

.CodeMirror {
  border-radius: 6px;
}

/* loading page */

.loading-container {
  min-height: 39.3rem;
}

/* spinning animation */

.slow-spin {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* responsiveness */

/* Desktop */
@media (min-width: 1280px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
}

@media (max-width: 940px) {
  .responsive-dialog {
    max-width: 30rem !important;
  }
}

@media (max-width: 840px) {
  .responsive-dialog {
    max-width: 26rem !important;
  }
}

/* Phone */
@media (max-width: 767px) {
  .dynex-label {
    width: 246px;
    height: 108px;
    background-image: url(assets/dynex-label-phone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -12px;
    left: 52%;
    transform: translateX(-50%);
  }
  .p1-body {
    padding: 10px !important;
    font-family: "Figtree", sans-serif;
  }
  .img-placeholder {
    margin-top: 50px !important;
    max-width: 173px !important;
    width: 100% !important;
  }
  .p1 {
    height: 100vh;
  }
  .sub-text {
    max-width: 100% !important;
  }
  .paragraph {
    max-width: 100% !important;
  }
  .arame-font {
    margin: 1.2rem !important;
  }
  .responsive-dialog {
    max-width: 100% !important;
    width: 100% !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    margin-top: 80px !important;
  }
  .hide-responsive {
    display: none !important;
  }

  .chatgpt-responsive {
    padding-top: 0px !important;
    margin-left: -13px !important;
  }
  .p2-body {
    padding: 10px !important;
  }

  .gradient {
    margin-top: auto;
  }
  .responsive-devider {
    display: none;
  }
  .form-res-screen {
    padding-bottom: 0px !important;
  }
  .form-res-screen {
    background-image: url(assets/mob-screen-bg.png);
    padding-top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 60px);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem !important;
    margin-bottom: 20px !important;
  }

  .responsive-title-box {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  .responsive-btn {
    margin-bottom: -25px !important;
  }

  .get-started {
    width: 75%;
    height: 55px;
    margin: auto;
  }
  .get-code {
    width: 75%;
    height: 52px;
  }
}

@media (max-height: 430px) {
  .dynex-label {
    width: 246px;
    height: 108px;
    background-image: url(assets/dynex-label-phone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -12px;
    left: 52%;
    transform: translateX(-50%);
  }
  .p1-body,
  .p2-body {
    padding: 15px !important;
    font-family: "Figtree", sans-serif;
  }
  .img-placeholder {
    margin-top: 350px !important;
    max-width: 173px !important;
    width: 100% !important;
  }

  .p1 {
    height: 100%;
    background-image: url(assets/main-background2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 30px;
  }
  .arame-font {
    margin: 1.2rem !important;
  }

  .full-cont {
    margin-top: -250px;
    margin-bottom: 50px;
  }
  .gradient {
    margin-top: auto;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  .form-res-screen {
    padding-bottom: 3rem !important;
  }
}
